# Dependencies
node_modules
.pnp*

# Build outputs
.next
out
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode
.idea

# OS
.DS_Store

# TurboRepo
.turbo